<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css./normalize.css">
  <link rel="stylesheet" href="./css/main.css">
  <title>房贷计算器</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="#"><img src="./img/logo.png" alt="logo"></a>
    </div>
        <div id="calculter">
          <ul class="nav-tabs  clear-float">
            <li :class="{active: loanType==='mix'}"
              @click="e=>this.loanType='mix'">组合贷款</li>
            <li :class="{active: loanType==='fund'}"
              @click="e=>this.loanType='fund'">公积金贷款</li>
            <li :class="{active: loanType==='cmc'}"
              @click="e=> this.loanType='cmc'">商业贷款</li>
          </ul>
          <div class="content">
            <div class="form-group clear-float">
              <label class="control-label">
                房价总额
              </label>
              <div class="form-control">
                <input type="number" class="input-control" v-model.number="housePrice">
                </div>
              </div>
            <div class="form-group clear-float">
                <label class="control-label">
                  首付比例
                </label>
                <div class="form-control">
                  <input type="number" class="input-control" v-model.number="downpayPct">
                </div>
              </div>
            <div class="form-group clear-float" v-if="loanType == 'fund' || loanType == 'mix'">
                <label class="control-label">
                  公积金贷款金额
                </label>
                <div class="form-control">
                  <input type="number" class="input-control" v-model.number="fundLoanCount">
                </div>
              </div>
            <div class="form-group clear-float" v-if="loanType == 'fund' || loanType == 'mix'">
                <label class="control-label">
                  公积金贷款利率
                </label>
                <div class="form-control">
                  <input type="number" class="input-control" v-model.number="fundLoanRate">
                </div>
              </div>
            <div class="form-group clear-float" v-if="loanType == 'cmc' || loanType == 'mix'">
                  <label class="control-label">
                    商业贷款金额
                  </label>
                  <div class="form-control">
                    <input type="number" class="input-control" v-model.number="cmcLoanCount">
                  </div>
                </div>
            <div class="form-group clear-float" v-if="loanType == 'cmc' || loanType == 'mix'">
                <label class="control-label">
                  商业贷款利率
                </label>
                <div class="form-control">
                  <input type="number" class="input-control" v-model.number="cmcLoanRate">
                </div>
              </div>
            <div class="form-group clear-float">
                <label class="control-label">
                  贷款年限
                </label>
                <div class="form-control">
                  <select v-model.number="years" class="input-control" id="years_select">
                  </select>
                </div>
              </div>
            <div class="form-group clear-float">
                <label class="control-label">
                  还款方式
                </label>
                <div class="form-control clear-float">

                  <label class="control-label">等额本金
                    <input v-model="repayType"  type="radio" value="eqCatipal">
                  </label>
                  <label class="control-label">等额本息
                    <input v-model="repayType"  type="radio" value="eqInterest">
                  </label>
                </div>
              </div>
    </div>
    <button type="button" class="full-button">计&nbsp;算</button>
    <div class="result" v-if="totalLoan">
                    首付金额：{{ firstPay |yuan('wan') }}
                    贷款总额: {{ totalLoan|yuan('wan') }}
                    还款总金额：{{ totalPay|yuan('yuan') }}
                    最高月供: {{ highPerMonth|yuan('yuan') }}
          <table class="table table-striped">
              <tr>
                <th>期数</th>
                <th>月还利息</th>
                <th>月还本金</th>
                <th>月供</th>
                <th>剩余还款</th>
                </tr>
              <tr v-for="item in monthdataArray">
                <td>{{item.order}}</td>
                <td>{{item.yuelixi}}</td>
                <td>{{item.yuebenjin}}</td>
                <td>{{item.yuegong}}</td>
                <td>{{item.leftFund}}</td>
              </tr>
            </table>
    </div>
  </div>


</div>


  <script type="text/javascript" src="lib/vue.js"></script>
  <script type="text/javascript" src="lib/vue-router.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
